global:
  checkNewVersion: false
  sendAnonymousUsage: false

api:
  dashboard: true

log:
  level: INFO

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    address: ":443"
    http:
      middlewares:
        - security-headers@file
        - AddMissingHeaders@file
      tls:
        certResolver: letsencrypt
        options: tls@file

providers:
  docker:
    watch: true
    exposedByDefault: false
    network: proxy-net
  file:
    watch: true
    directory: /configurations

certificatesResolvers:
  letsencrypt:
    acme:
      storage: acme.json
      caServer: https://acme-v02.api.letsencrypt.org/directory
      httpChallenge:
        entryPoint: web

experimental:
  plugins:
    AddMissingHeaders:
      moduleName: github.com/jerrywoo96/AddMissingHeaders
      version: v1.1.2
